<div class="padded">
  <h2><%= @lyric.text %></h2>
<% if @lyric.comments != nil %>
<div class="meanings">
Meanings:
<% if @lyric.comments != [] %>
<br><% @lyric.comments.each do |comment| %>
<br><a href="/lyrics/<%= @lyric.id %>/comments/<%= comment.id %>"><%= comment.text %></a>
<% end %>
<% else %>
<span class="seethru"><br>Nobody has interpreted this lyric yet.</span>
<% end %>
<% end %>
</div>
<% if session[:current_user_id].nil? %>
<br><a href="/auth/twitter">Log in to add meaning.</a>
<% elsif !Comment.exists?(lyric_id: @lyric.id, user_id: session[:current_user_id]) && !session[:current_user_id].nil? %>
<br><a href="/lyrics/<%= @lyric.id %>/comments/new">Add Meaning</a>
<% else %>
<br>You've already interpreted this lyric. <a href="/users/<%= session[:current_user_id] %>">See what you've written.</a>
<% end %>
    <% lyric_array = @lyric.text.split(' ') %>
    <% tweet = lyric_array.join('%20') %>
    <% tweet = tweet + "...%20%23DuckJeenyus" %>
       <br><a href="http://twitter.com/share?text=<%= tweet %>&url=http://duck-jeenyus.herokuapp.com/" target="_blank">
Tweet This!</a>
<br>
<a href="/songs/<%= @lyric.song.id %>">Back to Song</a>


</div>