<div class="padded"> <%= flash[:notice] %>

<h2>Create new Admin</h2>
<%= form_for(@admin) do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %><br>
  <%= f.submit "Create" %>
<% end %>
</div>