<div class="padded">

<h2>Sign Up</h2>
<%= flash[:notice] %>
<%= form_for(@person) do |f| %>
<br><%= f.label :name %>
<br><%= f.text_field :name %>
<br><%= f.label :email %>
<br><%= f.text_field :email %>
<br><%= f.label :password %>
<br><%= f.password_field :password %>
<br><%= f.label :password_confirmation %>
<br><%= f.password_field :password_confirmation %>
<br><%= f.submit "Sign Up" %>
<% end %>
</div>