<div class="padded"><h2><%= @current_user.name %></h2>
<%= flash[:notice] %>
  <div class="meanings">
    <% if @current_user.comments != [] %>
    <% comments = @current_user.comments.sort_by { |k| k[:date_created] } %>
    <% comments.reverse! %>
   <% comments.each do |comment| %>
    <br><a href="/lyrics/<%= comment.lyric.id %>/comments/<%= comment.id %>"><%= comment.text %></a>
    <% lyric = comment.lyric %>
    <small>Lyric: <%= lyric.text %></small>
   <%= form_tag "/lyrics/#{comment.lyric_id}/comments/#{comment.id}/edit", method: :get do %>
    <%= submit_tag 'Edit Meaning' %>
    <% end %>
<%= form_tag "/lyrics/#{comment.lyric_id}/comments/#{comment.id}", method: :delete do %>
    <%= submit_tag 'Delete Meaning' %>
    <% end %>
    <% end %>
    <% else %>
    You haven't added any meanings.
    <% end %>
  </div></div>