<div class="song-info"><span class="one-third column">Title: <%= @song.name %></span>
  <span class="one-third column center">Release Date: <%= @song.release_date %></span>
  <span class="one-third column right">Album: <%= @song.album %></span>
</div>
<div class="padded">
  <br><iframe width="100%" height="166" scrolling="no" frameborder="no" src=<%= @song.streamlink %>></iframe>

  <h2>Hover to see different lyrical interpretations!</h2>
  <small>Hint: the blue lines have content. The black ones don't yet.</small>
  <% @song.lyrics.each do |lyric| %>
  <% if lyric.comments.size == 0 %>
  <% @color = 'rgba(0, 0, 0, .8)' %>
  <% else %>
  <% @color = 'rgba(106, 139, 185, .7)'  %>
  <% end %>
  <br><div class="song-wrapper">
  <div class="lyric"><a href="/lyrics/<%= lyric.id %>" style="color:<%= @color %>"><%= lyric.text %></a></div>
  <div class="lyric-tool-tip" id="<%= lyric.id %>">
    <% comments = lyric.comments %>
    <% comment_array = [] %>
    <% comments.each do |comment| %>
    <% votes_up = Vote.where(comment_id: comment.id, value: 1) %>
    <% upvotes = 0 %>
    <% votes_up.each do |vote| %>
    <% upvotes += 1 %>
    <% end %>
    <% votes_down = Vote.where(comment_id: comment.id, value: 0) %>
    <% downvotes = 0 %>
    <% votes_down.each do |vote| %>
    <% downvotes += 1 %>
    <% end %>
    <% score = upvotes - downvotes %>
    <% comment_array << {:text => comment.text, :score => score} %>
    <% end %>
    <% comment_array.sort_by { |k| k[:score] } %>
    <% comment_array.reverse! %>
    <% counter = 0 %>
    <% comment_array.each do |comment| %>
    <% if counter < 5 %>
    ♡ <%= comment[:text] %> <br>
    <% end %>
    <% counter += 1 %>
    <% end %>

  </div>
</div>
<% end  %>
<br><br>
</div>