<div class="padded">
<h2>Best Interpretations</h2>
<% @comments[0..19].each do |hsh| %>
<div class="comments"><a href="/lyrics/<%= hsh[:lyric_id] %>/comments/<%= hsh[:comment_id] %>"><%= hsh[:comment_text] %></a>
<small><a href="/songs/<%= hsh[:song].id %>">Song: <%= hsh[:song].name %></a></small>
<small>Lyric: <%= hsh[:lyric] %></small>
<span class="votes"><%= hsh[:upvotes] %> Votes Up | <%= hsh[:downvotes] %> Votes Down</span>
<br></div>
<% end %>
</div>